.container {
  text-align: center;
  .add_card {
    position: relative;
    width: 400px;
    margin: 0 auto;
    height: 250px;
    border: solid 1px black;
    border-radius: 10px;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(209, 210, 218, 1) 71%,
      rgba(241, 241, 241, 1) 100%
    );

    img:first-child {
      width: 50px;
      height: 44px;
      position: absolute;
      left: 25px;
      top: 50px;
    }
    img:nth-child(2) {
      width: 136px;
      position: absolute;
      right: 20px;
      top: -30px;
    }
  }

  .digits_holder {
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-top: 20%;

    p {
      margin-right: 10px;
    }
  }

  .name_expdate_holder {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    position: relative;
    bottom: 20px;
  }

  form {
    width: 400px;
    margin: 0 auto;
    input {
      height: 48px;
      border-radius: 4px;
      border-width: 1px;
      font-size: 16px;
      padding: 0 12px;
    }

    .input_holder {
      display: flex;
      flex-direction: column;

      label {
        align-self: self-start;
        margin: 15px 0;
      }
    }

    .digits_input_holder {
      display: flex;
      justify-content: space-between;

      input {
        width: 80px;
      }
    }

    #submit_btn {
      width: 400px;
      color: white;
      margin: 15px 0;
      background: blue;
    }
  }
}
